# 敏感文件
.env
.env.local
*.db

# 依赖
node_modules/
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# 构建产物
dist/
build/
release/
.vite/

# IDE
.idea/
.vscode/

# 系统
Thumbs.db
.DS_Store
*.log
logs/

# Electron
out/
